# Arquivos compilados Java
*.class

# Pastas de build
target/
build/
out/
bin/

# Arquivos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp
